<%= form_for(@tipo_func) do |f| %>
  <% if @tipo_func.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_func.errors.count, "error") %> prohibited this tipo_func from being saved:</h2>

      <ul>
      <% @tipo_func.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
