
<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :maxlength => 50 %>
  </div>
  <div class="field">
    RG <br/>
    <%= f.text_field :rg, :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br />
    <%= f.select :tipo_pessoa_id, options_from_collection_for_select(TipoPessoa.find(:all, :order => "tipo ASC"), "id", "tipo"), :prompt => "Selecione" %>
  </div>
  <div class="field">
    Unidade Habitacional <br/>
    <%= select_tag "uh", options_from_collection_for_select(Uh.find(:all, :order => "quadra, conjunto, numero ASC"), "id", "endereco"), :prompt => "Selecione" %>
    

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
