<h1>Pesquisa</h1>

<table border ="1">
  <tr>
    <th>Nome</th>
    <th>RG</th>
    <th>Tipo</th>
    <th>Endereços</th>
    <th></th>
    <th></th>
  </tr>

<% @pessoas.each do |pessoa| %>
  <tr>
   
    <% x = pessoa.uhs.length %>
    <td rowspan = <%= x %>>
    <%= pessoa.nome %></td>
    <td rowspan = <%= x %>>
    <%= pessoa.rg %></td>
    <td rowspan = <%= x %>>
    <%= pessoa.tipo_pessoa.tipo %></td>
    
    <% pessoa.uhs.each do |p| %>
    <%= "<td>".html_safe %>
    <%= p.endereco %>
    <td ><%= link_to 'Editar', edit_pessoa_path(pessoa) %></td>
    <td ><%= link_to 'Excluir', pessoa, confirm: 'Tem certeza que deseja excluir esta pessoa?', method: :delete %></td>
    <%= "</tr>".html_safe %>

    
    <% end %>
    
    
  
<% end %>
</table>

<br />

<%= link_to 'Adicionar Pessoa', new_pessoa_path %>