<h1>Home</h1>
<h1><%= link_to 'Pessoas', pessoas_path %>
<%= link_to 'Tipos de Pessoas', tipo_pessoas_path %></h1>
<h1><%= link_to 'Veículos', veiculos_path %>
<%= link_to 'Tipos de Veiculos', tipo_veics_path %>
<%= link_to 'Marcas', marcas_path %>
<%= link_to 'Modelos', modelos_path %>
<%= link_to 'Cores', cores_path %></h1>
<h1><%= link_to 'UHs', uhs_path %>
<%= link_to 'Tipos de UHs', tipo_uhs_path %></h1>
<h1><%= link_to 'Funcionários', funcionarios_path %>
<%= link_to 'Tipos de Funcionários', tipo_funcs_path %></h1>
