
<script type="text/javascript">
  $(document).ready(function() {

 $('#mark').change(function(){
  $.getJSON('<%= modelos_path %>', {marca_id: $('#mark').val()} ,function(data) {
        $('#modelo_id').empty();
        $("<option value=\"nil\">Selecione</option>").appendTo('select[name*="modelo_id"]');
        $.each(data, function(i,item){
          $("<option value=\"" + item.id + "\">" + item.modelo + "</option>").appendTo('select[name*="modelo"]');
        });
      })
    });
 });
</script>

<%= form_for(@veiculo) do |f| %>
  <% if @veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
      <% @veiculo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br />
    <%= f.text_field :placa, maxlength: 7 %>
  </div>
  <div class="field">
    <%= f.label :tipo_veic %><br />
    <%= f.select :tipo_veic_id, TipoVeic.drop_down %>
  </div>
   <div class="field">
    <%= f.label :marca %><br />
    <%= select_tag "mark", options_from_collection_for_select(Marca.find(:all, :order => "marca ASC"), "id", "marca"), :prompt => "Selecione" %>
  </div>
   <div class="field">
    <%= f.label :modelo %><br />
    <%= f.select :modelo_id, [] %>
  </div>
  <div class="field">
    <%= label_tag "Residencia" %><br />
    <%= select_tag "resid", options_from_collection_for_select(Uh.find(:all, :order => "quadra, conjunto, numero ASC"), "id", "endereco"), :prompt => "Selecione" %>
  <div class="field">
    <%= f.label :cor %><br />
    <%= f.select :cor_id, Cor.drop_down, :prompt => "Selecione" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>