<h1>Veiculos</h1>

<table border = 1>
  <tr>
    <th>Placa</th>
    <th>Tipo</th>
    <th>Veiculo</th>
    <th>Motorista</th>
    <th>Endereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @veiculos.each do |veiculo| %>
  <tr>
    <td><%= veiculo.placa %></td>
    <td><%= veiculo.tipo_veic.tipo %></td>
    <td><%= veiculo.caracteristicas veiculo %></td>
    <% veiculo.motoristas.each do |v| %>
    <%= "<td>".html_safe %>
    <%= v.residencia.pessoa.nome %>
    <%= "<td>".html_safe %>
    <%= v.residencia.uh.endereco %>
    
    <td ><%= link_to 'Editar', edit_veiculo_path(veiculo) %></td>
    <td ><%= link_to 'Excluir', veiculo, confirm: 'Tem certeza que deseja excluir esta pessoa?', method: :delete %></td>
    <td ><%= link_to 'Acesso Veículo', "acesso/" + v.id.to_s %></td>
    <%= "</tr>".html_safe %>

    
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'Novo Veículo', new_veiculo_path %>
