<p id="notice"><%= notice %></p>

<p>
  <b>Tipo uh:</b>
  <%= @uh.tipo_uh.tipo %>
</p>

<p>
  <b>Quadra:</b>
  <%= @uh.quadra %>
</p>

<p>
  <b>Conjunto:</b>
  <%= @uh.conjunto %>
</p>

<p>
  <b>Numero:</b>
  <%= @uh.numero %>
</p>

<p>
  <b>Telefone:</b>
  <%= @uh.telefone %>
</p>


<%= link_to 'Edit', edit_uh_path(@uh) %> |
<%= link_to 'Back', uhs_path %>
