<p id="notice"><%= notice %></p>

<p>
  <b>Modelo:</b>
  <%= @modelo.modelo %>
</p>

<p>
  <b>Marca:</b>
  <%= @modelo.marca %>
</p>


<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
